.check-items{
   
    &__status{
        text-align: center;
    }
    &__total{
        text-align: right;
       
        span {
            font-size: 24px;
            margin-left: 10px;
        }
    }
    &__buttons{
        text-align: right;
    }
}