.shipping {
    &__total{
        text-align: right;
        h4{
            margin:5px 0;
        }
        span {
            font-size: 24px;
            margin-left: 10px;
        }
    }
    &__buttons{
        display: flex;
        justify-content: space-between;
    }
}