
.ui.borderless.stackable.menu{
    border:none;
    .item{
        font-size: 16px;
    }
    .header.item{
        font-size:19px; 
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        letter-spacing: 4px;
        justify-content: space-between;
        transition: all .5s ease-out;
        a{
            color: black;
        }

        @media (min-width: 768px){
            font-size:26px; 
        }
        @media (min-width: 1000px){
            font-size:30px; 
        }
        .bars.icon{
            &:hover{
                cursor: pointer;
            }
            @media (min-width: 768px){
                display: none;
            }
        }
    }
    .ui.icon.input{
        @media (min-width: 768px){
            width:160px;
        }
        @media (min-width: 1000px){
            width:260px; 
        }
    }
    .right.menu{

        max-height: 200px;
        transition: all .5s ease-out;
        
        &.collapsed{
            max-height: 0;
            overflow: hidden;
        }
        @media (min-width: 768px){
            overflow: unset;
        }

        .menu.transition{ // dropdown container in dropdown chart btn
            .item{
                min-width: 260px;
            }
        }
        .ui.button{ // dropdown chart btn
            z-index: 3;
        }
    }
}